/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*::before,*::after{
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans TC','Roboto';
}
img{
    width: 100%;
    height: auto;
    vertical-align: middle;
}
.container{
    max-width: 1326px;
    margin: 0 auto;
    padding: 0 15px;
}
.bg-r{
    background-color: #AA0601;
}
.header{
    padding: 25px 0;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 .logo{
    display: block;
    width:80px;
    height: 49px;
    background: url(img/logo-white.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
.menu-list{
    width: 492px;
    display: flex;
    justify-content: space-between;
}
.menu-list a{
    font-size: 20px;
    line-height: 30px;
}

@media(max-width:767px){
    .header, .header .container{
        padding:0;
    }
    .menu{
		flex-direction: column;
		align-items: center;
        flex-wrap: wrap;
	}
    h1 .logo{
        margin: 16px 0;
    }
    .menu-list{
        width: 100%;
        flex-wrap: wrap;
    }
    .menu-list li{
        width: 50%;
        text-align: center;
        border-top:1px solid #fff;
        border-bottom:1px solid #fff;
        padding: 12px 0;
    }
    .menu-list li:nth-child(odd){
        border-right: 1px solid #fff;
    }
    .menu-list a{
        font-size: 16px;
        line-height: 24px;
    }

}
a:hover{
    opacity: 0.5;
}
a{
    color:#fff;
    text-decoration: none;
}
.content{
    margin: 25px 0;
}
.content a{
    color:black;
}
.footer{
    padding: 60px 0 32px;
}
.footer-list{
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
    border-bottom: 1px solid #fff
}
.footer-menu{
    width: 464px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}
.footer-menu a{
    font-size: 16px;
    line-height: 24px;
}
.contact a{
    font-size: 36px;
    line-height: 54px;
}
.material-symbols-outlined{
    color:#fff;
    margin-right: 16px;
}
.fs-call{
    font-size: 36px;
}
.fs-mail{
    font-size: 40px;
}
.social{
    width: 208px;
    display: flex;
    justify-content: space-between;
}
.social img{
    width: 48px;
    height: 48px;
}
.footer-copyright{
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
}
.footer-copyright p{
    color:#fff;
    font-size: 16px;
    line-height: 24px;
}
.link a{
    font-size: 14px;
    line-height: 21px;
    margin-left: 48px;
}
@media(max-width:767px){
    .footer{
        padding: 24px 0;
    }
    .footer-menu{
        display: none;
    }
    .social{
        width:25%;
    }
    .social img{
        width: 24px;
        height: 24px;
    }
    .material-symbols-outlined{
        font-size: 18px;
    }
    .contact a{
        font-size: 16px;
        line-height: 24px;
    }
    .footer-copyright{
        flex-direction: column;
    }
    .footer p{
        margin-bottom: 8px;
    }
    .link a{
        margin-left: 0px;
        display: block;
        margin-bottom: 8px;
        font-size: 16px;
        line-height: 24px;
    }
}
